html, body{
    margin: 0;
    padding: 0;
}

.contenedor{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
    background-color: #005C78;
    overflow: hidden;
}

.cartas-contenedor{
    width: 100%;
    background-color: #005C78;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2rem;
    /*overflow: hidden;*/
}

.carta{
    width: 16rem;
    height: 24rem;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.btn-girar{
    margin: 0.5rem;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background-color: #E88D67;
    cursor: pointer;
    color: #F3F7EC;
    font-weight: bold;
    border: 4px solid #F3F7EC ;

}
.imagen{
    width: 17rem;
    padding: 20px;
}

@media only screen and (min-width: 1024px) {

    .carta{
        width: 30rem;
        height: 34rem;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: white;
    }

    .imagen{
        width: 24rem;
        padding: 20px;
    }
    .btn-girar{
        margin: 0.5rem;
        width: 6rem;
        height: 6rem;
        border-radius: 50%;
        background-color: #E88D67;
        cursor: pointer;
        color: #F3F7EC;
        font-weight: bold;
        border: 4px solid #F3F7EC ;
    
    }
    
}