html, body{
    margin: 0;
    padding: 0;
}
 h2{
    color: #F3F7EC;
    font-weight: bold;
    font-family:'Courier New', Courier, monospace;
 }
.contenedor{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #005C78
}

.cartas-contenedor{
    width: 80%;
    height: 70%;
    background-color: #005C78;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*overflow: hidden;*/
}

.carta{
    width: 12rem;
    height: 18rem;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.btn-girar{
    margin: 0.5rem;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background-color: #E88D67;
    cursor: pointer;
    color: #F3F7EC;
    font-weight: bold;
    border: 4px solid #F3F7EC ;

}
.imagen{
    width: 10rem;
    padding: 20px;
}

@media only screen and (min-width: 1024px) {
   h2{
    font-size: 3rem;
   }
    .carta{
        width: 18rem;
        height: 24rem;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: white;
    }
    
}